.limit-text-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  list-style: none !important;
}
.pagenav{
                      
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  padding: 40px 0 !important;
  border-radius: 0px !important;
}
.pagenav ul.pagination{
  background-color: rgb(255 255 255) !important;
  display: flex !important;
  list-style: none !important;
}
.pagenav ul.pagination li span{

  height:41px !important;
  width: 35px!important;
  display: flex;
  justify-content: center!important;
  align-items: center!important;
}
.pagenav .pagination a{
  height:41px!important;
  width: 35px!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  border-radius: 0px !important;
}
.pagenav .pagination a:hover{
  background-color: #847467!important;
  color: antiquewhite!important;
}
.pagenav li.active{
  background-color: #847467!important;
  color: antiquewhite!important;
}
.icon-cus i{font-size: 63px;color: #e2b029;padding-bottom: 21px;}
.pd-cus{
padding: 21px 14px 0px !important;
}
.model-book{
 position: fixed;

 display: none;
 height: 1110px;
 width: 100%;
 z-index: 1000;
 top:0px;
 justify-content: center;
 
}
.model-book.active{
 display: flex;
}
#close-book{
 position: absolute;
 right: 25px;
 top:25px;
 color: white;
 font-size: 25px;
 cursor: pointer;
}
#close-book:hover{
 transform: rotate(45deg);
 transition: all 1s;
 color: red;
}
.pd-20{
 padding-top: 20px;
}
.layout-book{
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: #0000008c;
}
.form-book{
 position: relative;
 height: 700px;
 width: 900px;
margin-top: 10px;
 background-color: #4a4985;
 border-radius: 25px;
 z-index: 3000;
}
.tieude{
 color: red;
 text-transform: uppercase;
 font-size: 25px;
 font-weight: 700;
}
.swiper {
width: 100%;
height: 100%;
}
.icon-cus{
  background-color: #042842;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
}
.home-2 {
  background-color: #f8f8f8;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd{
  display: none !important;
}
.h3-custom{
  background-color: #042842;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: #e2b029a1 0px 7px 24px, #e2b02900 0px 10px 56px, #e2b029 -1px 6px 0px 0px;
  border: 1px solid #e2b029;
}
.ngonngu{
  font-size: 10px;
}
.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}